<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/base/base-min.css">
  <link href="/assets/master.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/showdown.js"></script>
  <script type="text/javascript" src="/assets/show.js"></script>
  <title>{{ page_name|escape }}</title>
 </head>
 <body>
  <div id="doc3" class="yui-t4">
   <div id="hd" role="banner">
    <h1>{{ page_name|escape }}</h1>
   </div><!-- #hd -->
   <div id="bd" role="main">
    <div id="yui-main">
     <div class="yui-b"><div class="yui-g">
      <div id="content">{{ content }}</div>
     </div></div><!-- /.yui-g .yui-b -->
    </div><!-- /#yui-main -->
   <div id="nav" class="yui-b">
    <p><a href="/FrontPage">FrontPage</a></p>

    <div class="search">
      Search:
      <div>
        <form action="/search" method="GET">
          <input type="text" name="q" size="12"/>
          <input type="submit" value="Search"/>
        </form>
      </div><br/>
    </div>

{% if recent %}
    <div class="recent">
     Recent:
     <ul>
{% for page in recent %}
      <li><a href="/{{ page.wiki_name|escape }}">{{ page.wiki_name|escape }}</a></li>
{% endfor %}
     </ul>
    </div><!-- /.recent -->
{% endif %}
   </div><!-- /#nav -->
  </div>
  <div id="ft" role="contentinfo">
   <a href="/edit?page={{ page_name|escape }}">編集</a> | 最終更新時間: {{ date }}<br/>
{% if backlinks %}
   <div class="backlinks">
    links:
    <ul>
{% for link in backlinks %}
     <li><a href="/{{ link.wiki_name|escape }}">{{ link.wiki_name|escape }}</a></li>
{% endfor %}
    </ul>
   </div><!-- /.backlinks -->
{% endif %}
   </div>
  </div>
 </body>
</html>
